.custom-sidebar {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;

  padding: 15%;
  padding-bottom: 25%;

  background-color: #204097;
}

.logo {
  width: 100%;
  align-self: center;
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.signout-button {
  width: 100%;
  color: #fff;
  background-color: #00c3b5;
  border-radius: 5px;
  font-size: 1.2rem;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}
