.home-container {
  width: 100%;
  height: 100vh;
  padding: 6%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #fff;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
